<div class="container" role="main">
  <h1>Lista de Módulos</h1>
  <section class="modulos-lista">
    <mat-card *ngFor="let modulo of modulos" class="modulo-card">
      <img mat-card-image [src]="modulo.imagen" [alt]="modulo.nombre" class="modulo-img" />
      <mat-card-content class="modulo-content">
        <h2>{{ modulo.nombre }}</h2>
        <p>{{ modulo.descripcion }}</p>
      </mat-card-content>
      <div class="modulo-button">
        <button class="btn" color="primary" (click)="selectModulo(modulo.id)">Ver Roadmap</button>
      </div>
    </mat-card>
  </section>
</div>

