.project-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: #2c252a;
  color: #fff;
  border: 1px solid #444;
  display: flex;
  flex-direction: column;
}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
mat-card-content {
  flex-grow: 1;
}
.project-description {
  color: #ccc;
  min-height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
mat-card-title { color: #fff; }
mat-card-subtitle { color: #D487BF; }
mat-card-actions { padding: 16px; justify-content: flex-end; }
