<footer class="footer">
  <div class="footer-column">
    <h3>Explora e informa</h3>
    <ul>
      <li><a href="#">Danos tu opinión</a></li>
      <li><a href="#">Preguntas frecuentes</a></li>
      <li><a href="#">Política de privacidad</a></li>
    </ul>
  </div>

  <div class="footer-column">
    <h3>Redes sociales</h3>
    <ul>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Instagram</a></li>
      <li><a href="#">Twitter</a></li>
    </ul>
  </div>

  <div class="footer-column">
    <h3>Soporte</h3>
    <a href="#" class="whatsapp-button" aria-label="WhatsApp">
      <img style="border-radius: 20px" src="assets/imagen/was.png" alt="WhatsApp" width="70px">
    </a>
  </div>
</footer>
