<div class="register-container">
  <div class="register-header" (click)="router.navigate(['/'])">
    <img src="assets/imagen/Logo.png" alt="FirstCommit Logo" class="logo-img">
    <span class="logo-text">FirstCommit</span>
  </div>

  <div class="register-box">
    <h1>Create your account</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullName" type="text" placeholder="Enter your full name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Enter your email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Enter your password">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid" class="signup-button">Sign Up</button>
    </form>
    <p class="login-link">
      Already have an account? <a routerLink="/login">Log In</a>
    </p>
  </div>
</div>
